<!-- Pie de Mediamagen -->
      <footer id="footer">
           <div class="container">
               <div class="row">
                   <!--Foot widget-->
                   <div class="col-xs-12 col-sm-6 col-md-3 foot-widget">
                     <a href="#">
                     <div class=""><img src="images/logo_blanco.png" alt="" width="110" height="49"></div></a>

                         <address class="foot-address">
                           <div class="col-xs-12 no-pad"><i class="fa fa-globe" aria-hidden="true"></i> Medimágenes<br>Italia y Vancouver<br>N 30-145 Quito-Ecuador </div>
                             <div class="col-xs-12 no-pad"><span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span> (02) 290-49-64</div>
                             <div class="col-xs-12 no-pad"><i class="fa fa-file-text-o" aria-hidden="true"></i> +593 290-02-27</div>
                             <div class="col-xs-12 no-pad"><i class="fa fa-envelope" aria-hidden="true"></i> info@medimagenes.ec</div>
                         </address>
                     </div>

                     <!--Foot widget-->
                     <div class="col-xs-12 col-sm-6 col-md-3 recent-post-foot foot-widget">
                        <div class="foot-widget-title">Servicios</div>
                         <ul>
                             <li><a ui-sref="servicios({id:3})">Resonancia Magnética <br><span class="event-date">ver más</span></a></li>
                             <li><a ui-sref="servicios({id:8})">Tomografía Axial Computarizada<br><span class="event-date">ver más</span></a></li>
                            <li><a ui-sref="servicios({id:11})">Ecografía 3D - 4D <br><span class="event-date">ver más</span></a></li>
                          </ul>
                     </div>

                      <!--Foot widget-->
                    <div class="col-xs-12 col-sm-6 col-md-3 recent-post-foot foot-widget">
                        <div class="foot-widget-title">Servicios</div>
                         <ul>
                             <li><a ui-sref="servicios({id:12})">Rayos X Digital<br><span class="event-date">ver más</span></a></li>
                             <li><a ui-sref="servicios({id:13})">Mamografía Digital <br><span class="event-date">ver más</span></a></li>
                             <li><a ui-sref="servicios({id:14})">Densitometría  <br><span class="event-date">ver más</span></a></li>
                          </ul>
                     </div>
                     <div class="col-xs-12 col-sm-6 col-md-3  recent-post-foot foot-widget">
                          <div class="foot-widget-title">Empresa</div>
                          <ul>
                              <li><a href="http://181.39.1.78:8080/dcm4chee-web3/" target="_blank">Sistema Medico</a></li>
                              <li><a  ui-sref="incidencias">Incidencias</a></li>
                              <li><a href="https://medimagenes.ec:2096/" target="_blank">Correo</a></li>
                           </ul>
                     </div>

                     <!--Foot widget-->
                     <!-- <div class="col-xs-12 col-sm-6 col-md-3 foot-widget">
                           <div class="foot-widget-title">Contáctenos</div>
                           <p>Complete el Siguiente Formulario. Posteriormente uno de nuestros asesores se pondrá en contacto con usted.</p>
                             <div class="news-subscribe">
                             <p>
                               <input class="news-tb" placeholder="Nombre" type="text">
                             </p>
                             <p>                              <br>
                               <input class="news-tb" placeholder="Correo Electónico" type="text">
                             </p>
                             <p>                              <br>
                               <input class="news-tb" placeholder="Mensaje" type="textarea">
                             </p>
                             <p>&nbsp;</p>
                           <button class="news-button">Enviar</button></div>
                   </div> -->
             </div>
         </div>
    </footer>
