<img src="/webmedimagen/images/imagen_home_galeria.png" class="img-responsive" width="100%">
<div class="titulo-imagen">
		<h1 style="font-size:160px">ÉTICA</h1>
		<p>Acciones fundamentadas en principios de justicia y autonomia</p>
</div>
<div class="container-fluid parallax-formulario">
	<div class="container">
		<section class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div class="padding-60-0" ng-bind-html="home.ContentPage.field_contenido_multiple.und[0].value"></div>
		</section>
	</div>
</div>

<div class="container" style="background-color: #fff">

	 <div class="col-xs-12 col-sm-4 col-md-2 col-lg-2" ng-repeat="item in home.listServiceFather ">
			 	<img ng-src="{{home.urlImg + item.field_icono.und[0].filename}}" class="img-responsive">
			 	<h1 class="titulo-seccion">{{item.title}}</h1>
			 	<p class="texto-seccion" ng-bind-html="item.field_contenido.und[0].value"></p>
			 	<a class="link-seccion" ng-click="home.searchService(item)">
			 		<img src="images/boton_neutrón.png">
			 	</a>
	 </div>

</div>
