<!-- Slider de imagenes -->
	<div style="overflow: hidden; height: 100%">
			<div uib-carousel active="home.active" interval="home.myInterval" no-wrap="home.noWrapSlides">
				<div uib-slide ng-repeat="slide in home.slides" index="$index">
					<img ng-src="{{home.urlSlider + slide.filename}}" style="width:100%">
					<div class="carousel-caption titulo-imagen">
						<h1 style="font-size:160px">{{slide.title}}</h1>
						<p>{{slide.alt}}</p>
					</div>
				</div>
			</div>
	</div>

<!-- Texto principal -->
<div class="container-fluid parallax-formulario">
	<div class="container">
		<section class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div class="padding-60-0 panel-medico-home"  ng-bind-html="home.ContentPage.field_contenido_multiple.und[0].value"></div>
		</section>
	</div>
</div>
<!-- listado de servicios -->
<div class="container-fluid  padding-60-50" style="background-color: #fff">

	 <div class="col-xs-12 col-sm-4 col-md-2 col-lg-2 " ng-repeat="item in home.listServiceFather ">
			 	<img ng-src="{{home.urlImg + item.field_icono.und[0].filename}}" class="img-responsive">
			 	<h1 class="titulo-seccion font-size-20">{{item.title}}</h1>
			 	<p class="texto-seccion " ng-bind-html="item.field_contenido.und[0].value"></p>
			 	<a class="link-seccion" ui-sref="servicios({id:item.nid})">
			 		<img src="images/boton_neutrón.png">
			 	</a>
	 </div>

</div>
