<!-- Slider -->
<div style="overflow: hidden; height: 100%">
		<div uib-carousel active="servicios.active" interval="servicios.myInterval" no-wrap="servicios.noWrapSlides">
			<div uib-slide ng-repeat="slide in servicios.slides" index="$index">
				<img ng-src="{{servicios.urlSlider + slide.filename}}" style="width:100%">
				<div class="carousel-caption titulo-imagen">
					<h1 style="font-size:160px">{{slide.title}}</h1>
					<p>{{slide.alt}}</p>
				</div>
			</div>
		</div>
</div>

<!-- Contenido -->
<div class="container-fluid  padding-60-50" style="background-color: #fff">
	<br>
	 <div class="col-xs-12 col-sm-4 col-md-2 col-lg-2" ng-repeat="item in servicios.listServiceFather ">
			 	<img ng-src="{{servicios.urlImg + item.field_icono.und[0].filename}}" class="img-responsive">
			 	<h1 class="titulo-seccion">{{item.title}}</h1>
			 	<p class="texto-seccion" ng-bind-html="item.field_contenido.und[0].value"></p>
			 	<a class="link-seccion" ui-sref="servicios({id:item.nid})">
			 		<img src="images/boton_neutrón.png">
			 	</a>
	 </div>
</div>
<div class="container-fluid" style="background:#01515F; padding:0px">
		<br>
		<br>
    <div class="panel-servicios">
      <div class="panel-heading">
					<img ng-src="{{servicios.urlImg + servicios.listFather.field_icono.und[0].filename}}" class="img-responsive col-xs-4 col-md-2">
         <h3 class="panel-title">
					{{servicios.listFather.title}}
				</h3>
      </div>
      <div class="panel-body">
            <div class="col-sm-2 col-md-2">
                <ul>
                  <li ng-repeat="item  in servicios.listChildren"><a ng-click="servicios.loadPestana(item)" >{{item.title}}</a></li>
                </ul>
            </div>
            <div class="col-sm-7 col-md-7" >
							<uib-tabset active="active" class="tab_servicios">
									<uib-tab index="$index" heading="{{tab.field_titulo_value}}" class="tab_header" ng-repeat="tab in servicios.listFather.pestanas">
										 <div class="tab_contenido" ng-bind-html="tab.field_descripcion_value">

										 </div>
									</uib-tab>
							</uib-tabset>
            </div>
            <div class="col-sm-3 col-md-3" style=" background: #1A626F">
								  <h2>Agendar Cita</h2>
                <form>
                    <div class="form-group">
                      <input type="text" class="form-control input-formulario" ng-model="servicios.formulario.servicio" disabled  style="color:#2095F3 !important">
                    </div>
                    <div class="form-group">
                      <input type="text" class="form-control input-formulario"  placeholder="Nombre*" ng-model="servicios.formulario.nombre">
                    </div>
                    <div class="form-group">
                      <input type="text" class="form-control input-formulario"  placeholder="Apellidos*" ng-model="servicios.formulario.apellido">
                    </div>
                    <div class="form-group">
                      <input type="text" class="form-control input-formulario"  placeholder="Teléfono*" ng-model="servicios.formulario.telefono">
                    </div>
                    <div class="form-group">
                      <input type="text" class="form-control input-formulario"  placeholder="Email*" ng-model="servicios.formulario.email">
                    </div>
                    <div class="form-group">
                      <input type="text" class="form-control input-formulario"  placeholder="dd/mm/YY*" ng-model="servicios.formulario.fecha">
                    </div>

                    <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="servicios.enviar()">Enviar</button>
										<br>
                </form>

            </div>
      </div>
    </div>
</div>

<div class="container-fluid" style="background:#01515F; padding:0px">
	<slick class="slider" settings="servicios.slickConfig " ng-if="servicios.numberLoaded" dots="true">
				<img ng-src="{{servicios.urlGalery  + slide.filename}}" ng-repeat="slide in servicios.galery">
	</slick>
</div>
