<!-- Slider  -->
<div class="container-slider">
		<div uib-carousel active="nosotros.active" interval="nosotros.myInterval" no-wrap="nosotros.noWrapSlides">
			<div uib-slide ng-repeat="slide in nosotros.slides" index="$index">
				<img ng-src="{{nosotros.urlSlider + slide.filename}}" style="width:100%">
				<div class="carousel-caption titulo-imagen">
					<h1>{{slide.title}}</h1>
					<p>{{slide.alt}}</p>
				</div>
			</div>
		</div>
</div>
<!-- Contenido  -->

<div class="container-fluid container-fondo" style="margin:0px; padding:0px" >
	  <div class="col-md-12" style="padding: 0px; margin: 0px" ng-repeat="item in nosotros.contentPage.field_contenido_multiple.und" ng-bind-html="item.value">

	  </div>
</div>
