<!-- Dibujamos el menu principal  -->
<div class="menu-principal" style="position: absolute;">
  <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 col-md-offset-1 col-lg-offset-1">
    <img src="/webmedimagen/images/logo.png" class="img-responsive" style="margin-top: 20px">
  </div>
  <div class="col-xs-12 col-sm-9 col-md-6 col-lg-6 col-md-offset-2 col-lg-offset-2">
    <ul class="nav navbar-nav menu-principal">
      <li> <a href="#" title="" style="padding-top: 120px"><strong>Inicio</strong></a> </li>
      <li class="dropdown">
        <a  class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="padding-top: 120px"><strong>Quienses Somos </strong> <span class="caret"></span></a>
        <ul class="dropdown-menu">
                <li><a ui-sref="nosotros">Nosotros</a></li>
                <li><a ui-sref="medicos">Nuestros Medicos</a></li>
              </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="padding-top: 120px">Servicios <span class="caret"></span></a>
        <ul class="dropdown-menu">
                <li><a ui-sref="servicios({id:3})">Resonancia Magnética</a></li>
                <li><a ui-sref="servicios({id:8})">Tomografía Axial</a></li>
                <li><a ui-sref="servicios({id:11})">Ecografía 3D-4D</a></li>
                <li><a ui-sref="servicios({id:12})">Rayos X Digital</a></li>
                <li><a ui-sref="servicios({id:13})">Mamografía Digital</a></li>
                <li><a ui-sref="servicios({id:14})">Densitometría</a></li>

              </ul>
      </li>
      <li> <a href="#" title="" style="padding-top: 120px">Contactenos</a> </li>

    </ul>
  </div>
</div>
