<!-- Slider -->
<div style="overflow: hidden; height: 100%">
		<div uib-carousel active="medicos.active" interval="medicos.myInterval" no-wrap="medicos.noWrapSlides">
			<div uib-slide ng-repeat="slide in medicos.slides" index="$index">
				<img ng-src="{{medicos.urlSlider + slide.filename}}" style="width:100%">
				<div class="carousel-caption titulo-imagen">
					<h1 style="font-size:160px">{{slide.title}}</h1>
					<p>{{slide.alt}}</p>
				</div>
			</div>
		</div>
</div>
<!-- ontenido -->
<div class="container-fluid container-fondo" style="margin:0px; padding:0px">
  <div class="col-md-12" style="padding: 0px; margin: 0px" ng-repeat="item in medicos.contentPage.field_contenido_multiple.und" ng-bind-html="item.value">

  </div>
</div>
