<div class="container-fluid parallax-formulario">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <h1 class="color-font-blanco"> Contáctenos </h1>
      </div>
      <!-- Dibujo los campos del formulario -->
        <form>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
              <div class="form-group">
              <input type="text" class="form-control input-formulario" ng-model="layoutContact.formulario.nombre" placeholder="Nombre" s>
            </div>
            <div class="form-group">
              <input type="text" class="form-control input-formulario" ng-model="layoutContact.formulario.telefono" placeholder="Telefono">
            </div>
            <div class="form-group">
              <input type="text" class="form-control input-formulario" ng-model="layoutContact.formulario.email" placeholder="E-mail">
            </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
              <div class="form-group">
              <textarea class="form-control input-formulario" rows="5" ng-model="layoutContact.formulario.mensaje" placeholder="Mensaje"></textarea>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" style="padding: 0px;">
              <button class="btn btn-info btn-lg btn-block" ng-click="layoutContact.enviar()">Enviar</button>
            </div>

            </div>
       </form>
       <!-- Seccion de datos de contacto de la empresa -->
       <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <ul class="menu-contacto-datos">
            <li>

            <i class="fa fa-map-marker icono-datos-contacto" aria-hidden="true"></i>
            MATRIZ QUITO: Italia y Vancouver N 30-145

            </li>
            <li>

            <i class="fa fa-phone icono-datos-contacto" aria-hidden="true"></i>
            +290-49-64

          </li>
            <li>

            <i class="fa fa-mobile icono-datos-contacto" aria-hidden="true"></i>
            +PBX 290-02-27

          </li>
            <li>
              <i class="fa fa-at icono-datos-contacto" aria-hidden="true"></i>
              info@medimagenes.com
            </li>
            <li>
              <i class="fa fa-globe icono-datos-contacto" aria-hidden="true"></i>
              SISTEMA MÉDICO
            </li>
          </ul>
       </div>

       <!-- Redes sociales de la empresa -->
       <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <ul class="menu-contacto-datos" style="padding: 0px;">
        <li>
          <a href="#"><i class="fa fa-linkedin-square icono-datos-contacto" aria-hidden="true"></i></a>
        </li>
        <li>
          <a href="#"><i class="fa fa-twitter-square icono-datos-contacto" aria-hidden="true"></i></a>
        </li>
        <li>
          <a href="#"><i class="fa fa-facebook-official icono-datos-contacto" aria-hidden="true"></i></a>
        </li>
        </ul>
       </div>
    </div>
  </div>
</div>
